/*globales*/
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    max-width: 2000px;
    font-family: 'Lato';
    color: #333;
}

nav a{
    color: #000;
}

#navbar-title{
    font-size: 40px;
}

.comment-container {
    width: 80%;
    margin: 20px auto;
}
.comment {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
.comment-actions {
    margin-top: 5px;
}
.like-btn, .dislike-btn {
    cursor: pointer;
    margin-right: 10px;
}

.icon-person{
    width: 40px;
    height: 40px;
}