*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    max-width: 2000px;
    font-family: 'Lato';
    color: #333;
}

.icon-cart{
    width: 40px;
    height: 40px;
}

.icon-person{
    width: 40px;
    height: 40px;
}

img{
    max-width: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

nav h1{
    color: white;
}

nav a.navbar-brand {
    color: white; /* Color del texto de los enlaces */
    text-decoration: none; /* Eliminar subrayado de los enlaces si lo hubiera */
  }

nav .icon-person {
fill: white; /* Color del icono de persona */
}

footer {
    background-color: rgba(0, 0, 0, 0.7); /* Color de fondo del pie de página */
    color: white; /* Color del texto del pie de página */
    padding: 20px 0; /* Espaciado interno del pie de página */
}

footer a {
    color: white; /* Color del enlace del pie de página */
}

.carousel {
    position: relative;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-inner img{
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide {
    min-width: 100%;
    overflow: hidden;
}

.carousel-slide img {
    width: 100%;
    height: auto;
}

